<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <session-config>
    <session-timeout>40</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>TestDataAjax</servlet-name>
    <servlet-class>servlet.TestDataAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDataAjax</servlet-name>
    <url-pattern>/TestDataAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportStudentHW</servlet-name>
    <servlet-class>servlet.ExportStudentHW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportStudentHW</servlet-name>
    <url-pattern>/ExportStudentHW</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeworkScoreExcel</servlet-name>
    <servlet-class>servlet.HomeworkScoreExcel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeworkScoreExcel</servlet-name>
    <url-pattern>/HomeworkScoreExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>student.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>student.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Config</servlet-name>
    <servlet-class>teacher.Config</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/Config</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MainMenu</servlet-name>
    <servlet-class>student.MainMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopMenu</servlet-name>
    <servlet-class>student.TopMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownMenu</servlet-name>
    <servlet-class>student.DownMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InitExam</servlet-name>
    <servlet-class>student.InitExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Examing</servlet-name>
    <servlet-class>student.Examing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Over</servlet-name>
    <servlet-class>student.Over</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setExamTime</servlet-name>
    <servlet-class>teacher.setExamTime</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMsgBoard</servlet-name>
    <servlet-class>componment.AddMsgBoard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddHomework</servlet-name>
    <servlet-class>teacher.AddHomework</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUser</servlet-name>
    <servlet-class>teacher.addUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addUserFromFile</servlet-name>
    <servlet-class>teacher.addUserFromFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeworkBoard</servlet-name>
    <servlet-class>student.HomeworkBoard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MessageBoard</servlet-name>
    <servlet-class>componment.MessageBoard</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showArticle</servlet-name>
    <servlet-class>componment.showArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>changePasswd</servlet-name>
    <servlet-class>componment.changePasswd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delHw</servlet-name>
    <servlet-class>student.delHw</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delUser</servlet-name>
    <servlet-class>teacher.delUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelExam</servlet-name>
    <servlet-class>teacher.DelExam</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HwQuery</servlet-name>
    <servlet-class>student.HwQuery</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HwStatistics</servlet-name>
    <servlet-class>teacher.HwStatistics</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HwScore</servlet-name>
    <servlet-class>teacher.HwScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>setScore</servlet-name>
    <servlet-class>teacher.setScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showAllScore</servlet-name>
    <servlet-class>teacher.showAllScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>initInterScore</servlet-name>
    <servlet-class>teacher.initInterScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showInterScore</servlet-name>
    <servlet-class>teacher.showInterScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showHomework</servlet-name>
    <servlet-class>student.showHomework</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showPasswd</servlet-name>
    <servlet-class>teacher.showPasswd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showScore</servlet-name>
    <servlet-class>student.showScore</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upLoadFile</servlet-name>
    <servlet-class>student.upLoadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>upLoadHw</servlet-name>
    <servlet-class>student.upLoadHw</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteArticle</servlet-name>
    <servlet-class>teacher.deleteArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TLogin</servlet-name>
    <servlet-class>teacher.TLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TMainMenu</servlet-name>
    <servlet-class>teacher.TMainMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TTopMenu</servlet-name>
    <servlet-class>teacher.TTopMenu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SetHomework</servlet-name>
    <servlet-class>teacher.SetHomework</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelHomework</servlet-name>
    <servlet-class>teacher.DelHomework</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Evaluate</servlet-name>
    <servlet-class>student.Evaluate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExamBoard</servlet-name>
    <servlet-class>teacher.ExamBoard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamBoard</servlet-name>
    <url-pattern>/ExamBoard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetQues</servlet-name>
    <servlet-class>teacher.SetQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetQues</servlet-name>
    <url-pattern>/SetQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelQues</servlet-name>
    <servlet-class>teacher.DelQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelQues</servlet-name>
    <url-pattern>/DelQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQues</servlet-name>
    <servlet-class>teacher.AddQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQues</servlet-name>
    <url-pattern>/AddQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddQuesFile</servlet-name>
    <servlet-class>teacher.AddQuesFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuesFile</servlet-name>
    <url-pattern>/AddQuesFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChooseQuesType</servlet-name>
    <servlet-class>teacher.ChooseQuesType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseQuesType</servlet-name>
    <url-pattern>/ChooseQuesType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditQues</servlet-name>
    <servlet-class>teacher.EditQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQues</servlet-name>
    <url-pattern>/EditQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TranQues</servlet-name>
    <servlet-class>teacher.TranQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TranQues</servlet-name>
    <url-pattern>/TranQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAllScore</servlet-name>
    <servlet-class>teacher.EditAllScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAllScore</servlet-name>
    <url-pattern>/EditAllScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestDaemon</servlet-name>
    <servlet-class>teacher.TestDaemon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestDaemon</servlet-name>
    <url-pattern>/TestDaemon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Evaluate</servlet-name>
    <url-pattern>/Evaluate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainMenu</servlet-name>
    <url-pattern>/MainMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopMenu</servlet-name>
    <url-pattern>/TopMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownMenu</servlet-name>
    <url-pattern>/DownMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitExam</servlet-name>
    <url-pattern>/InitExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Examing</servlet-name>
    <url-pattern>/Examing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Over</servlet-name>
    <url-pattern>/Over</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setExamTime</servlet-name>
    <url-pattern>/SetExamTime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageBoard</servlet-name>
    <url-pattern>/MessageBoard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showArticle</servlet-name>
    <url-pattern>/showArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>changePasswd</servlet-name>
    <url-pattern>/changePasswd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delHw</servlet-name>
    <url-pattern>/delHw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delUser</servlet-name>
    <url-pattern>/delUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HwQuery</servlet-name>
    <url-pattern>/HwQuery</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HwStatistics</servlet-name>
    <url-pattern>/HwStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HwScore</servlet-name>
    <url-pattern>/HwScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>setScore</servlet-name>
    <url-pattern>/setScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showAllScore</servlet-name>
    <url-pattern>/showAllScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initInterScore</servlet-name>
    <url-pattern>/initInterScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showInterScore</servlet-name>
    <url-pattern>/showInterScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showHomework</servlet-name>
    <url-pattern>/showHomework</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showPasswd</servlet-name>
    <url-pattern>/showPasswd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showScore</servlet-name>
    <url-pattern>/showScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upLoadFile</servlet-name>
    <url-pattern>/upLoadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upLoadHw</servlet-name>
    <url-pattern>/upLoadHw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeworkBoard</servlet-name>
    <url-pattern>/HomeworkBoard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMsgBoard</servlet-name>
    <url-pattern>/AddMsgBoard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteArticle</servlet-name>
    <url-pattern>/deleteArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addUserFromFile</servlet-name>
    <url-pattern>/addUserFromFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelExam</servlet-name>
    <url-pattern>/DelExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddHomework</servlet-name>
    <url-pattern>/AddHomework</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TLogin</servlet-name>
    <url-pattern>/TLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TTopMenu</servlet-name>
    <url-pattern>/TTopMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TMainMenu</servlet-name>
    <url-pattern>/TMainMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SetHomework</servlet-name>
    <url-pattern>/SetHomework</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelHomework</servlet-name>
    <url-pattern>/DelHomework</url-pattern>
  </servlet-mapping>
</web-app>